.form-flex_column {
  display: flex;
  flex-direction: column;
}

.form-flex_column input {
  border: 2px lightgray solid;
  padding: 3px;
}

.input-error {
  border-bottom: 2px red solid !important;
}

.input-success {
  border-bottom: 2px green solid !important;
}

.form-flex_column input:focus {
  outline: none;
  border: 2px solid #c3bcbc;
}
.form-flex_column label {
  font-weight: bold;
  margin-bottom: 3px;
}

.form-button {
  background-color: lightgray;
  border: none;
  padding: 8px 15px;
  margin-top: 3px;
  font-weight: bold;
}

.form-button:hover {
  background-color: #c3bcbc;
}
